.sw-link {
  color: #2d5af1;
  text-decoration: none;
  cursor: pointer;

  &--primary {
    color: #2d5af1;
  }

  &--success {
    color: #52b35e;
  }

  &--warning {
    color: #fcc202;
  }

  &--danger {
    color: #ff0200;
  }

  &--info {
    color: #999;
  }

  &--underline-always {
    text-decoration: underline;
  }

  &--underline-hover {
    &:hover {
      text-decoration: underline;
    }
  }

  &--underline-never {
    text-decoration: none;
  }

  &--disabled {
    color: #999;
    cursor: not-allowed;
    pointer-events: none;
  }
}